In [ ]:
import pandas

In [ ]:
pip install pandas

In [5]:
import pandas as pd

In [6]:
pd.__version__

'1.5.2'

In [7]:
a1=pd.Series([151,152,153,154,155],index=[0,1,2,3,4])

In [8]:
print(a1)

0    151
1    152
2    153
3    154
4    155
dtype: int64

In [9]:
season={"rainy":{1:"novüöì",2:"decüöê",3:"janüöÖ",4:"febüõ¥"},"dry":{1:"mar",2:"apr",3:"may",4:"june"}}

In [10]:
d=pd.DataFrame(season,columns=["rainy","dry"])

In [11]:
d

  rainy   dry
1  novüöì   mar
2  decüöê   apr
3  janüöÖ   may
4  febüõ¥  june

In [12]:
import numpy as np

In [13]:
a=pd.DataFrame(np.random.randint(0,1000,size=(30,7)),columns=list(('abcdefg')))

In [14]:
a

      a    b    c    d    e    f    g
0    83  420  856  949  106   62   84
1   806  580  518  232  402  446  801
2   585  638  551  128  391  890  717
3   908  705  700  894  859  422  634
4   400   20  542  298  955  971  287
5   185  228  225  360  217  285  391
6   109  650  370  564  905  477  210
7   476  264  117   86  507  337  682
8   407  914  798  195  372  721  752
9   194  504  155  536  641  584  166
10  295  780  574  889  895  961  471
11  504   98  909  765  563  902  219
12  561  240   41  830  236   96  745
13  418  566  846   66  432   24  169
14  356  833   44  638  468  570  451
15  954  848  386  356  438  288  559
16  620  142  438  697  802   84  718
17  877  262   44  124  623  250  274
18  503  972  708  656  624  876  950
19   62  468  399  367  347  516  453
20  595  744  870  197  149   92  449
21  315  751  174  806  306  187  516
22  959  872  160  959  964   58  277
23  998  966  796  792  326  541  217
24  345  387   35  778  102  691  385
25  982  708  256  738  423  182  893
26  794  459  423  986  927  767  658
27  788  620   30  954  791  140  728
28  848  575  949  868  464  954  798
29  591  952  496  553  541  290  129

In [15]:
print(a)

      a    b    c    d    e    f    g
0    83  420  856  949  106   62   84
1   806  580  518  232  402  446  801
2   585  638  551  128  391  890  717
3   908  705  700  894  859  422  634
4   400   20  542  298  955  971  287
5   185  228  225  360  217  285  391
6   109  650  370  564  905  477  210
7   476  264  117   86  507  337  682
8   407  914  798  195  372  721  752
9   194  504  155  536  641  584  166
10  295  780  574  889  895  961  471
11  504   98  909  765  563  902  219
12  561  240   41  830  236   96  745
13  418  566  846   66  432   24  169
14  356  833   44  638  468  570  451
15  954  848  386  356  438  288  559
16  620  142  438  697  802   84  718
17  877  262   44  124  623  250  274
18  503  972  708  656  624  876  950
19   62  468  399  367  347  516  453
20  595  744  870  197  149   92  449
21  315  751  174  806  306  187  516
22  959  872  160  959  964   58  277
23  998  966  796  792  326  541  217
24  345  387   35  778  102  691  385
25  982  708  256  738  423  182  893
26  794  459  423  986  927  767  658
27  788  620   30  954  791  140  728
28  848  575  949  868  464  954  798
29  591  952  496  553  541  290  129

In [17]:
a.to_csv('D:/vacrakshana/raksh.csv')

In [18]:
d=pd.read_csv('D:/vacrakshana/raksh.csv')

In [19]:
print(d)

    Unnamed: 0    a    b    c    d    e    f    g
0            0   83  420  856  949  106   62   84
1            1  806  580  518  232  402  446  801
2            2  585  638  551  128  391  890  717
3            3  908  705  700  894  859  422  634
4            4  400   20  542  298  955  971  287
5            5  185  228  225  360  217  285  391
6            6  109  650  370  564  905  477  210
7            7  476  264  117   86  507  337  682
8            8  407  914  798  195  372  721  752
9            9  194  504  155  536  641  584  166
10          10  295  780  574  889  895  961  471
11          11  504   98  909  765  563  902  219
12          12  561  240   41  830  236   96  745
13          13  418  566  846   66  432   24  169
14          14  356  833   44  638  468  570  451
15          15  954  848  386  356  438  288  559
16          16  620  142  438  697  802   84  718
17          17  877  262   44  124  623  250  274
18          18  503  972  708  656  624  876  950
19          19   62  468  399  367  347  516  453
20          20  595  744  870  197  149   92  449
21          21  315  751  174  806  306  187  516
22          22  959  872  160  959  964   58  277
23          23  998  966  796  792  326  541  217
24          24  345  387   35  778  102  691  385
25          25  982  708  256  738  423  182  893
26          26  794  459  423  986  927  767  658
27          27  788  620   30  954  791  140  728
28          28  848  575  949  868  464  954  798
29          29  591  952  496  553  541  290  129

In [22]:
d.drop("a",axis=1)

    Unnamed: 0    b    c    d    e    f    g
0            0  420  856  949  106   62   84
1            1  580  518  232  402  446  801
2            2  638  551  128  391  890  717
3            3  705  700  894  859  422  634
4            4   20  542  298  955  971  287
5            5  228  225  360  217  285  391
6            6  650  370  564  905  477  210
7            7  264  117   86  507  337  682
8            8  914  798  195  372  721  752
9            9  504  155  536  641  584  166
10          10  780  574  889  895  961  471
11          11   98  909  765  563  902  219
12          12  240   41  830  236   96  745
13          13  566  846   66  432   24  169
14          14  833   44  638  468  570  451
15          15  848  386  356  438  288  559
16          16  142  438  697  802   84  718
17          17  262   44  124  623  250  274
18          18  972  708  656  624  876  950
19          19  468  399  367  347  516  453
20          20  744  870  197  149   92  449
21          21  751  174  806  306  187  516
22          22  872  160  959  964   58  277
23          23  966  796  792  326  541  217
24          24  387   35  778  102  691  385
25          25  708  256  738  423  182  893
26          26  459  423  986  927  767  658
27          27  620   30  954  791  140  728
28          28  575  949  868  464  954  798
29          29  952  496  553  541  290  129

In [30]:
k=d.drop("Unnamed: 0",axis=1)

In [31]:
k

      a    b    c    d    e    f    g
0    83  420  856  949  106   62   84
1   806  580  518  232  402  446  801
2   585  638  551  128  391  890  717
3   908  705  700  894  859  422  634
4   400   20  542  298  955  971  287
5   185  228  225  360  217  285  391
6   109  650  370  564  905  477  210
7   476  264  117   86  507  337  682
8   407  914  798  195  372  721  752
9   194  504  155  536  641  584  166
10  295  780  574  889  895  961  471
11  504   98  909  765  563  902  219
12  561  240   41  830  236   96  745
13  418  566  846   66  432   24  169
14  356  833   44  638  468  570  451
15  954  848  386  356  438  288  559
16  620  142  438  697  802   84  718
17  877  262   44  124  623  250  274
18  503  972  708  656  624  876  950
19   62  468  399  367  347  516  453
20  595  744  870  197  149   92  449
21  315  751  174  806  306  187  516
22  959  872  160  959  964   58  277
23  998  966  796  792  326  541  217
24  345  387   35  778  102  691  385
25  982  708  256  738  423  182  893
26  794  459  423  986  927  767  658
27  788  620   30  954  791  140  728
28  848  575  949  868  464  954  798
29  591  952  496  553  541  290  129

In [26]:
d.shape

(30, 8)

In [28]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  30 non-null     int64
 1   a           30 non-null     int64
 2   b           30 non-null     int64
 3   c           30 non-null     int64
 4   d           30 non-null     int64
 5   e           30 non-null     int64
 6   f           30 non-null     int64
 7   g           30 non-null     int64
dtypes: int64(8)
memory usage: 2.0 KB